html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
h1{
  display:flex;
  justify-content: center;
}
ul{
  /* background: beige; */
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  /* text-decoration: underline; */
  text-shadow: 1 1 red;
  font-size: x-large;
  list-style: none;

}
li:hover{
  /* background-color: red; */
  font-size:44px
}
li:active{
  text-decoration: underline;
}